In [1]:
import skmob
import importlib
from datetime import timedelta
from datetime import datetime
from skmob.data.load import load_dataset, list_datasets

### Features

- list_datasets()
- load_dataset()

### list_datasets()

List all the names of the datasets available in the data module of scikit-mobility.
 
The optional boolean argument ``details`` specify whether or not to return the full details on the datasets instead of only the short name.

In [2]:
#list all the datasets without details
print(list_datasets())

['flow_foursquare_nyc', 'foursquare_nyc', 'nyc_boundaries', 'parking_san_francisco', 'taxi_san_francisco']

In [3]:
#list all the datasets with details
print(list_datasets(details=True))

{'flow_foursquare_nyc': {'name': 'Flow_nyc', 'description': 'FlowDataFrame describing the movements of individual (from FourSquare) between tiles of size 4km in New York City.', 'url': 'http://www-public.it-sudparis.eu/~zhang_da/pub/dataset_tsmc2014.zip', 'hash': '', 'data_type': 'flow', 'auth': 'no', 'download_format': 'zip', 'sep': '\t', 'encoding': 'ISO-8859-1'}, 'foursquare_nyc': {'name': 'Foursquare_NYC', 'description': 'Dataset containing the Foursquare checkins of individuals moving in the urban Area of New York City', 'url': 'http://www-public.it-sudparis.eu/~zhang_da/pub/dataset_tsmc2014.zip', 'hash': 'cbe3fdab373d24b09b5fc53509c8958c77ff72b6c1a68589ce337d4f9a80235b', 'auth': 'no', 'data_type': 'trajectory', 'download_format': 'zip', 'sep': '\t', 'encoding': 'ISO-8859-1'}, 'nyc_boundaries': {'name': 'NewYorkCity_boundaries', 'description': 'This Shapefile containts the Borough Boundaries of NYC (Water Areas Included)', 'url': 'https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nybbwi_22a.zip', 'hash': '', 'data_type': 'shape', 'auth': 'no', 'download_format': 'zip', 'sep': ' ', 'encoding': 'ISO-8859-1'}, 'parking_san_francisco': {'name': 'ParkingMeteres_SanFrancisco', 'description': 'Parking meters in San Francisco.', 'url': 'https://data.sfgov.org/api/views/8vzz-qzz9/rows.csv?accessType=DOWNLOAD', 'hash': '', 'data_type': 'auxiliar', 'auth': 'no', 'download_format': '', 'sep': ',', 'encoding': 'ISO-8859-1'}, 'taxi_san_francisco': {'name': 'Taxi_SanFrancisco', 'description': 'This traceset contains mobility traces of taxi cabs in San Francisco, USA. It contains GPS coordinates of approximately 500 taxis collected over 30 days in the San Francisco Bay Area.', 'url': 'https://crawdad.org//download/epfl/mobility/cabspottingdata.tar.gz', 'hash': '', 'data_type': 'trajectory', 'auth': 'yes', 'download_format': 'tar', 'sep': ' ', 'encoding': 'ISO-8859-1'}}

In [5]:
#list all the datasets of type shape with details
print(list_datasets(data_types='flow', details=True))

{'flow_foursquare_nyc': {'name': 'Flow_nyc', 'description': 'FlowDataFrame describing the movements of individual (from FourSquare) between tiles of size 4km in New York City.', 'url': 'http://www-public.it-sudparis.eu/~zhang_da/pub/dataset_tsmc2014.zip', 'hash': '', 'data_type': 'flow', 'auth': 'no', 'download_format': 'zip', 'sep': '\t', 'encoding': 'ISO-8859-1'}}

In [6]:
#list all the datasets of type trajectory OR shape with details
print(list_datasets(data_types=['trajectory', 'shape'], details=True))

{'foursquare_nyc': {'name': 'Foursquare_NYC', 'description': 'Dataset containing the Foursquare checkins of individuals moving in the urban Area of New York City', 'url': 'http://www-public.it-sudparis.eu/~zhang_da/pub/dataset_tsmc2014.zip', 'hash': 'cbe3fdab373d24b09b5fc53509c8958c77ff72b6c1a68589ce337d4f9a80235b', 'auth': 'no', 'data_type': 'trajectory', 'download_format': 'zip', 'sep': '\t', 'encoding': 'ISO-8859-1'}, 'nyc_boundaries': {'name': 'NewYorkCity_boundaries', 'description': 'This Shapefile containts the Borough Boundaries of NYC (Water Areas Included)', 'url': 'https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nybbwi_22a.zip', 'hash': '', 'data_type': 'shape', 'auth': 'no', 'download_format': 'zip', 'sep': ' ', 'encoding': 'ISO-8859-1'}, 'taxi_san_francisco': {'name': 'Taxi_SanFrancisco', 'description': 'This traceset contains mobility traces of taxi cabs in San Francisco, USA. It contains GPS coordinates of approximately 500 taxis collected over 30 days in the San Francisco Bay Area.', 'url': 'https://crawdad.org//download/epfl/mobility/cabspottingdata.tar.gz', 'hash': '', 'data_type': 'trajectory', 'auth': 'yes', 'download_format': 'tar', 'sep': ' ', 'encoding': 'ISO-8859-1'}}

### load_dataset()

#### TrajDataFrame

In [7]:
# standard loading
tdf_nyc = load_dataset("foursquare_nyc")
print(tdf_nyc._info)
print("\n")
print(type(tdf_nyc))
tdf_nyc[:4]

Downloading data from 'http://www-public.it-sudparis.eu/~zhang_da/pub/dataset_tsmc2014.zip' to file 'C:\Users\giuli\AppData\Local\skmob_data\skmob_data\Cache\55d9132fcc6ebd6a1269944a3b851bb0-dataset_tsmc2014.zip'.
Unzipping contents of 'C:\Users\giuli\AppData\Local\skmob_data\skmob_data\Cache\55d9132fcc6ebd6a1269944a3b851bb0-dataset_tsmc2014.zip' to 'C:\Users\giuli\AppData\Local\skmob_data\skmob_data\Cache\55d9132fcc6ebd6a1269944a3b851bb0-dataset_tsmc2014.zip.unzip'

{'name': 'Foursquare_NYC', 'description': 'Dataset containing the Foursquare checkins of individuals moving in the urban Area of New York City', 'url': 'http://www-public.it-sudparis.eu/~zhang_da/pub/dataset_tsmc2014.zip', 'hash': 'cbe3fdab373d24b09b5fc53509c8958c77ff72b6c1a68589ce337d4f9a80235b', 'auth': 'no', 'data_type': 'trajectory', 'download_format': 'zip', 'sep': '\t', 'encoding': 'ISO-8859-1'}


<class 'skmob.core.trajectorydataframe.TrajDataFrame'>

C:\Users\giuli\Documents\GitHub\forks\skmob\data\load.py:111: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dataset._info = dataset_info

,uid,1,2,3,lat,lng,6,datetime
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,2012-04-03 18:00:09+00:00
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,2012-04-03 18:00:25+00:00
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,2012-04-03 18:02:24+00:00
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,2012-04-03 18:02:41+00:00

#### Shape

In [9]:
# standard loading
shape_nyc = load_dataset("nyc_boundaries")
print(shape_nyc._info)
print("\n")
print(type(shape_nyc))
shape_nyc[:4]

Downloading data from 'https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nybbwi_22a.zip' to file 'C:\Users\giuli\AppData\Local\skmob_data\skmob_data\Cache\1e711308a23cfba405f2e8858c7ffed0-nybbwi_22a.zip'.
SHA256 hash of downloaded file: 0658159f371b2e5b34404881c6524d3a427c3cb84955a8a1472bd646af4d44b4
Use this value as the 'known_hash' argument of 'pooch.retrieve' to ensure that the file hasn't changed if it is downloaded again in the future.
Unzipping contents of 'C:\Users\giuli\AppData\Local\skmob_data\skmob_data\Cache\1e711308a23cfba405f2e8858c7ffed0-nybbwi_22a.zip' to 'C:\Users\giuli\AppData\Local\skmob_data\skmob_data\Cache\1e711308a23cfba405f2e8858c7ffed0-nybbwi_22a.zip.unzip'

{'name': 'NewYorkCity_boundaries', 'description': 'This Shapefile containts the Borough Boundaries of NYC (Water Areas Included)', 'url': 'https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nybbwi_22a.zip', 'hash': '', 'data_type': 'shape', 'auth': 'no', 'download_format': 'zip', 'sep': ' ', 'encoding': 'ISO-8859-1'}


<class 'geopandas.geodataframe.GeoDataFrame'>

C:\Users\giuli\Anaconda3\envs\sk_dev\lib\site-packages\geopandas\geodataframe.py:182: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  super(GeoDataFrame, self).__setattr__(attr, val)

,BoroCode,BoroName,Shape_Leng,Shape_Area,geometry
0,4,Queens,459288.088863,4.962978e+09,"POLYGON ((1045438.075 235083.296, 1049675.845 ..."
1,3,Brooklyn,236463.384375,2.697625e+09,"POLYGON ((1004421.481 203543.225, 1004612.108 ..."
2,5,Staten Island,220559.462653,2.851606e+09,"POLYGON ((968762.067 175987.749, 968654.251 17..."
3,1,Manhattan,203743.107953,9.443058e+08,"MULTIPOLYGON (((972081.788 190733.467, 972184...."

#### Auxiliar dataset

In [10]:
parking_sf = load_dataset("parking_san_francisco")
print(parking_sf._info)
print("\n")
print(type(parking_sf))
parking_sf[:4]

Downloading data from 'https://data.sfgov.org/api/views/8vzz-qzz9/rows.csv?accessType=DOWNLOAD' to file 'C:\Users\giuli\AppData\Local\skmob_data\skmob_data\Cache\4691058e2f6e9f43cf0c984e75e317d6-rows.csv'.
SHA256 hash of downloaded file: c794437e48074e86b16e8ddca51a8490313d44d29365160343161f77e86eb273
Use this value as the 'known_hash' argument of 'pooch.retrieve' to ensure that the file hasn't changed if it is downloaded again in the future.

{'name': 'ParkingMeteres_SanFrancisco', 'description': 'Parking meters in San Francisco.', 'url': 'https://data.sfgov.org/api/views/8vzz-qzz9/rows.csv?accessType=DOWNLOAD', 'hash': '', 'data_type': 'auxiliar', 'auth': 'no', 'download_format': '', 'sep': ',', 'encoding': 'ISO-8859-1'}


<class 'pandas.core.frame.DataFrame'>

C:\Users\giuli\Documents\GitHub\forks\skmob\data\load.py:115: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dataset._info = dataset_info

,OBJECTID,PARKING_SPACE_ID,POST_ID,MS_PAY_STATION_ID,MS_SPACE_NUM,SENSOR_FLAG,ON_OFFSTREET_TYPE,OSP_ID,JURISDICTION,PM_DISTRICT_ID,...,NFC_KEY,SPT_CODE,COLLECTION_ROUTE_DESC,COLLECTION_SUBROUTE_DESC,shape,Neighborhoods,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods
0,5228201,101400,500-08020,-,0,N,ON,0.0,SFMTA,12.0,...,6325,NaN,NaN,NaN,POINT (-122.408394 37.79584),104,104,6,3,6
1,5228280,102036,419-13290,-,0,N,ON,0.0,SFMTA,15.0,...,9EPC,NaN,Franklin St: Unit - 900,Franklin 1200-1500,POINT (-122.423454 37.7872),100,100,4,6,39
2,5229090,109966,671-01050,671-01001,5,Y,ON,0.0,SFMTA,2.0,...,8JGP,NaN,NaN,NaN,POINT (-122.39461 37.780937),31,31,1,10,8
3,5229183,104916,606-15400,-,0,N,ON,0.0,SFMTA,15.0,...,6X57,NaN,NaN,NaN,POINT (-122.42171 37.789528),105,105,4,3,21

#### FlowDataFrame

In [11]:
fdf_nyc = load_dataset("flow_foursquare_nyc")
print(fdf_nyc._info)
print("\n")
print(type(fdf_nyc))
fdf_nyc[:4]

C:\Users\giuli\Anaconda3\envs\sk_dev\lib\site-packages\geopandas\array.py:275: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  return GeometryArray(vectorized.points_from_xy(x, y, z), crs=crs)
C:\Users\giuli\Anaconda3\envs\sk_dev\lib\site-packages\pyproj\crs\crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\giuli\Documents\GitHub\forks\skmob\core\trajectorydataframe.py:322: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: +init=epsg:4326 +type=crs
Right CRS: EPSG:4326

  tile_ids = gpd.sjoin(gdf, tessellation, how=how, op='within')[[constants.TILE_ID]]

{'name': 'Flow_nyc', 'description': 'FlowDataFrame describing the movements of individual (from FourSquare) between tiles of size 4km in New York City.', 'url': 'http://www-public.it-sudparis.eu/~zhang_da/pub/dataset_tsmc2014.zip', 'hash': '', 'data_type': 'flow', 'auth': 'no', 'download_format': 'zip', 'sep': '\t', 'encoding': 'ISO-8859-1'}


<class 'skmob.core.flowdataframe.FlowDataFrame'>

C:\Users\giuli\Documents\GitHub\forks\skmob\data\load.py:117: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dataset._info = dataset_info

  origin destination  flow
0    100         100  1648
1    100         101     8
2    100         102     5
3    100         103     2

### Authentication

Now the datamodule supports the download of datasets from services that require an authenitcation

In [12]:
tdf_sf = load_dataset("taxi_san_francisco", auth=('cornacchia4843','E483Ts99VLJGGhU'))
tdf_sf[:4]

Downloading data from 'https://crawdad.org//download/epfl/mobility/cabspottingdata.tar.gz' to file 'C:\Users\giuli\AppData\Local\skmob_data\skmob_data\Cache\086f6264ef6f417061ba11619a2d188a-cabspottingdata.tar.gz'.
SHA256 hash of downloaded file: bfbb8e11c9ba3b02c561ce3b50336a27d665ecbbcf8a778c2bc08d1ace1c5fc2
Use this value as the 'known_hash' argument of 'pooch.retrieve' to ensure that the file hasn't changed if it is downloaded again in the future.
Untarring contents of 'C:\Users\giuli\AppData\Local\skmob_data\skmob_data\Cache\086f6264ef6f417061ba11619a2d188a-cabspottingdata.tar.gz' to 'C:\Users\giuli\AppData\Local\skmob_data\skmob_data\Cache\086f6264ef6f417061ba11619a2d188a-cabspottingdata.tar.gz.untar'
C:\Users\giuli\Documents\GitHub\forks\skmob\data\load.py:111: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dataset._info = dataset_info

        lat        lng  occupancy            datetime     uid
0  37.75134 -122.39488          0 2008-06-10 00:58:07  abboip
1  37.75136 -122.39527          0 2008-06-10 00:57:39  abboip
2  37.75199 -122.39460          0 2008-06-10 00:55:40  abboip
3  37.75080 -122.39346          0 2008-06-10 00:54:49  abboip

In [6]:
tdf_sf._info

NameError: name 'tdf_sf' is not defined

In [4]:
get_dataset_info("Taxi_SanFrancisco")

NameError: name 'get_dataset_info' is not defined